{% extends "base.html" %}

{% block content %}
    <a class="btn btn-danger" href="/clean" type="button">Очистить корзину</a> <a class="btn btn-success" href="/buy" type="button">Оплатить всё</a>
    <p></p>
    {% for i in products %}
        <div class="col-md6 border rounded">
            <div>
                {%if i.product.image%}
                    <img height="150" src="data:image/jpeg;base64,{{ i.product.image }}"/>
                {% endif %}
                <div>
                    <p class="card-text">{{i.product.title}} Цена: {{i.product.price}} рублей</p>
                </div>
                    <a class="btn btn-danger" href="/del_product/{{ i.id }}" type="button">Удалить товар</a>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}