{% extends "base.html" %}

{% block content %}
    {% for item in products %}
        <div class="col-md6 border rounded">
            <h2>{{ item[0].title }}</h2>
            <div>
                {{ item[0].price }} руб
            </div>
            <div>
                {{ item[0].about }}
            </div>

            <div>
                {{ item[1] }}
            </div>

            <div>
                Производитель - <a
                    href="/user/{{ item[0].manufacturer_id }}">{{ item[0].manufacturer.name }} {{ item[0].manufacturer.surname }}</a>

                {% if current_user.is_authenticated and current_user == item[0].manufacturer or current_user.is_admin %}
                    <div align="right"><a href="/product/ed/{{ item[0].id }}" class="btn btn-warning">
                        Изменить
                    </a>
                        <a href="/product_delete/{{ item[0].id }}" class="btn btn-danger">
                            Удалить
                        </a></div>
                {% endif %}
            </div>

        </div>
        <br>
    {% endfor %}
    <br>
    {% if current_user.is_admin %}
        <a href="/addproduct" class="btn btn-secondary">Добавить продукт</a>
    {% endif %}
{% endblock %}