{% extends "base.html" %}

{% block content %}
    {% for item in products %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.price }} руб
            </div>
            <div>
                {{ item.about }}
            </div>
            <div>
                Производитель - <a
                    href="/user/{{ item.manufacturer_id }}">{{ item.manufacturer.name }} {{ item.manufacturer.surname }}</a>

                {% if current_user.is_authenticated and current_user == item.manufacturer or current_user.is_admin %}
                    <div align="right"><a href="/product/ed/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                        <a href="/product_delete/{{ item.id }}" class="btn btn-danger">
                            Удалить
                        </a></div>
                {% endif %}
            </div>

        </div>
        <br>
    {% endfor %}
    <br>
    {% if current_user.is_admin %}
        <a href="/addproduct" class="btn btn-secondary">Добавить продукт</a>
    {% endif %}
{% endblock %}